<div class="header">
  <p-menubar [model]="kp" [style]="{'background-color': 'transparent'}" class="menuBar">
    <ng-template pTemplate="start" class="logoContainer">
      <img src="/assets/images/xe.png" height="60" class="p-mr-2" alt="logo">
    </ng-template>

    <ng-template class="login" pTemplate="end">
      <button pButton type="button" label="Sign In"
        [style]="{'background-color': 'blue', 'margin': '0px 10px 0px 10px' }"></button>
      <button pButton type="button" label="Registration"
        [style]="{'background-color': 'blue', 'margin': '0px 10px 0px 10px'}"></button>
    </ng-template>
  </p-menubar>
  <div class="middleMenu">
    <button pButton type="button" label="Send Money" style="height: 40px;"></button>
    <button pButton type="button" label="Coneverter" style="height: 40px;"></button>
    <button pButton type="button" label="Currency API" style="height: 40px;"></button>
    <button pButton type="button" label="Tools" style="height: 40px;"></button>
    <button pButton type="button" label="Resources" style="height: 40px;"></button>
  </div>
</div>

<div class="coverContainer">
  <h1>Xe Currency Converter</h1>
  <h2>Check live foreign currency exchange rates</h2>
</div>

<div class="cardContainer">
  <p-card class="p-card">
    <div class="converter-card">
      <p-tabMenu [model]="items2"></p-tabMenu>
    </div>
    <div class="p-field p-col-12 p-md-3 amount">
      <label for="locale-us">Amount</label>
      <p-inputNumber [(ngModel)]="value2" inpudId="locale-us" mode="decimal" locale="en-US" [minFractionDigits]="2"></p-inputNumber>
    </div>
    <div class="cascadContainer">
          <p-cascadeSelect [(ngModel)]="selectedCity2" [options]="countries" optionLabel="cname" optionGroupLabel="name"
      [optionGroupChildren]="['states', 'cities']" [style]="{'minWidth': '14rem'}" placeholder="Select a City"
      label="From" class="cascade">
      <ng-template pTemplate="option" let-option>
        <div class="country-item">
          <img *ngIf="option.states" src="assets/showcase/images/demo/flag/flag_placeholder.png"
            [class]="'flag flag-' + option.code.toLowerCase()" />
          <i class="pi pi-compass mr-2" *ngIf="option.cities"></i>
          <i class="pi pi-map-marker mr-2" *ngIf="option.cname"></i>
          <span>{{option.cname || option.name}}</span>
        </div>
      </ng-template>
    </p-cascadeSelect>

    <p-cascadeSelect [(ngModel)]="selectedCity2" [options]="countries" optionLabel="cname" optionGroupLabel="name"
      [optionGroupChildren]="['states', 'cities']" [style]="{'minWidth': '14rem'}" placeholder="Select a City"
      label="From" class="cascade">
      <ng-template pTemplate="option" let-option>
        <div class="country-item">
          <img *ngIf="option.states" src="assets/showcase/images/demo/flag/flag_placeholder.png"
            [class]="'flag flag-' + option.code.toLowerCase()" />
          <i class="pi pi-compass mr-2" *ngIf="option.cities"></i>
          <i class="pi pi-map-marker mr-2" *ngIf="option.cname"></i>
          <span>{{option.cname || option.name}}</span>
        </div>
      </ng-template>
    </p-cascadeSelect>
    </div>

    <div class="footer">
      <p-button label="Convert"></p-button>
    </div>
  </p-card>
</div>